<p>
  Hola, {{nombreEstudiante}} edad {{edadEstudiante}}
</p>

<p>
  Mi edad es <SPAN [innerHTML]="edadEstudiante"></SPAN>
</p>
<button (click)="mostrarHora($event)">Mostrar Hora </button>
<p>{{horaActual}}</p>

<div class="form-basic">
  <div class="input-form">
    <input type="text"
           placeholder="Nombre"
           [(ngModel)]="nombreEstudiante">
  </div>
  <div class="input-form">
    <input type="text"
           placeholder="Edad"
            [(ngModel)]="edadEstudiante">
  </div>
</div>

<div>
  <p class="sub-title">Ng-If Else</p>
  <p *ngIf="edadEstudiante >= 18; else NoMayorEdad ">El estudiante es <b>MAYOR</b> </p>
  <ng-template #NoMayorEdad>MENOR</ng-template>
</div>
